html{
    padding: 0;
    margin: 0;
    background-color: white;
}
.main-container{

}

.main{

}

.text-container{
    text-align: center;
}

.cat{
    height: 400px;
    width: 400px;
    background-color: rgb(94, 151, 201);
}
.upgrades{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20pxs;    
}

.upgrade{
    border-radius: 20px;
    background-color: rgba(83, 78, 104, 0.829);
    border: 2px black;
    flex-basis: 150px
}

